.footer-cards{
    background-color: aqua;
    .employe{
      background-color: black;
      display: flex;
      justify-content: center;
      h2{
        text-align: center;
  
      }
      p{
        text-align: center;
      }
    }
  
  }
  